@import 'colors';
@import 'variables';
@import 'scss/components';
@import 'scss/typography';
@import 'utils';

.sensor-section,
.coach-section {
  @extend %max-size-padding;

  align-items: stretch;
  display: flex;
  justify-content: center;
  min-height: maxScalingSize(810);
  overflow-x: hidden;
  width: 100%;
}

.section-image {
  align-items: center;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  max-height: 100vh;
  max-width: maxScalingSize(700);
  overflow: hidden;

  .image {
    height: 100%;
    object-fit: cover;
    position: relative;
    width: 100%;
  }
}

.section-content {
  align-content: center;
  align-items: flex-start;
  display: flex;
  flex-flow: column wrap;
  flex-grow: 1;
  justify-content: center;
  padding: maxScalingSize(20);
}

.section-title {
  @extend %big-subtitle;

  margin-bottom: maxScalingSize(20);
  white-space: pre-line;
}

.section-text {
  @extend %base-text;

  max-width: maxScalingSize(490);
}

.coach-section {
  margin-bottom: maxScalingSize(100);
  padding-top: maxScalingSize(200);

  .image {
    bottom: 0;
    width: 100%;
  }
}

.sensor-section {
  flex-direction: row-reverse;
  padding-bottom: maxScalingSize(200);

  .section-content {
    padding-left: maxScalingSize(90);
  }

  .image {
    height: 100%;
  }
}

@media screen and (max-width: $max-scaling-device-width) {
  .sensor-section,
  .coach-section {
    min-height: desktopSize(810);
    padding: desktopSize(30) 0;
  }

  .section-image {
    max-width: desktopSize(700);
  }

  .section-content {
    padding: desktopSize(20);
  }

  .section-title {
    margin-bottom: desktopSize(20);
  }

  .section-text {
    max-width: desktopSize(490);
  }

  .coach-section {
    margin-bottom: desktopSize(100);
    padding-top: desktopSize(200);
  }

  .sensor-section {
    padding-bottom: desktopSize(200);

    .section-content {
      padding-left: desktopSize(90);
    }
  }
}

@media screen and (max-width: $big-device) {
  .section-image {
    max-height: 810px;
  }
}

@media screen and (max-width: $medium-device) {
  .coach-section,
  .sensor-section {
    min-height: mediumSize(440);
    padding: 0;
  }

  .section-image {
    max-height: calc(100vh - #{mediumSize(70)});
    max-width: mediumSize(390);
  }

  .section-content {
    padding: mediumSize(40);
  }

  .section-title {
    margin-bottom: mediumSize(15);
  }

  .section-text {
    max-width: mediumSize(290);
  }

  .coach-section {
    margin-bottom: mediumSize(100);
    padding-top: mediumSize(140);

    .image {
      bottom: 0;
      width: 100%;
    }
  }

  .sensor-section {
    padding-bottom: mediumSize(140);
  }
}

@media screen and (max-width: $small-device) {
  .sensor-section,
  .coach-section {
    flex-direction: column;
    min-height: unset;
    padding: 20px;
  }

  .section-image {
    margin: 0 auto 40px;
    max-height: 335px;
    max-width: 500px;
  }

  .section-content {
    max-width: 100%;
    padding: 0;
  }

  .section-text {
    max-width: 100%;
  }

  .section-title {
    font-size: 35px;
    letter-spacing: -1px;
    line-height: 1.14;
    margin-bottom: 15px;
    width: 100%;
  }

  .coach-section {
    margin-bottom: 20px;
    padding-top: 80px;
  }

  .sensor-section {
    padding-bottom: 80px;

    .section-content {
      padding-left: 0;
    }

    .image {
      height: 100%;
      width: 100%;
    }
  }

  .section-image {
    justify-content: initial;
  }
}
