$white: #FFF;
$black: #000;
$pivot-white: #FFF;
$pivot-black: #616161;
$pearl-bush: #ECE5DA;
$vivid-tangerine: #FF9F7D;
$light-blue: #C2E3EE;
$violet: #3D457B;
$light-violet: #7884D4;
$biscay: #212B6A;
$light-gray: #E7E4DF;
$dusty-gray: #979797;
$transparent: transparent;
$transparent4: rgba(0, 0, 0, 0.04);
$pampas: #F7F6F4;
$video-bg: #E5E3DF;
$periwinkle-gray: #C8D8EB;
$periwinkle-blue: #F0F4F7;
$river-bed: #434C5B;
$gray-border: rgba(0, 0, 0, 0.23);
$texas: #FCF4A0;
$cinnabar: #E23F3F;
$cornflower-blue: #568BEA;
$alto: #D3D3D3;
$timberwolf: #D9D6D0;
$ebony: #101424;
